  <div class="span-16 mb10 center">

  <div class="copy" id="video_player">

		Loading...

  </div><!-- /.copy -->

	<div class="tabs">
		<a class="tab3 selected">Recomend</a>
		<a class="tab2">Info</a>
		<a class="tab1">Comments</a>
		<div style="clear:left"></div>
	</div>

	<div id="div_tab1" class="comments invisible tab">
		<h2 class="m0">Comments: <a class="dotted">Add</a></h2>

			<div class="new_comment invisible" id="add_comment">
				<h3>New comment:</h3>
				<form method="post" action="" id="postform">
					<%= hidden_field_tag('id', @video.id) %>
					<div class="row">
						<%= label_tag(:name, "Name:") %>
						<%= text_field_tag(:name, @user.nick) %>
					</div>
					<div class="row">
						<%= label_tag(:message, "Message:") %>
						<%= text_area_tag(:message) %>
					</div>
					<div class="row">
						<%= label_tag("") %>
						<%= tag('input', {
										:type => 'button',
										:id => 'post',
										:name => 'post',
										:value => 'Post'
						}) %>
					</div>
				</form>
			</div>
		<div class="comments_list">
		<% if @comments.count>0 then %>
			<% @comments.each do |comment| %>
			<div class="comment">
				<span class="name"><%= comment.name %></span>&nbsp;
				<span class="date"><%= comment.published.strftime("%d %B, %Y %H:%M") %></span>
				<span class="message">
					<p><%= comment.message %></p>
				</span>
			</div>
			<% end %>
		<% end %>
		 </div>
	</div>

	<div id="div_tab2" class="metadata invisible tab">
		<% if @sponsor.present? %>
				<div class="container2 clear advert-node">
				<div class="column span-2 label">
					Sponsor
				</div>

				<div class="column span-6 last">
				</div><!-- /.column .node-ad -->

			</div><!-- /.container -->
		<% end %>

			<% if @video.duration.present? %>
				<div class="container2 clear advert-node">
				<div class="column span-2 label">
					Duration
				</div>

				<div class="column span-6 last">
					<%= @video.duration%>
				</div><!-- /.column .node-ad -->

			</div><!-- /.container -->
		<% end %>

			<% if @video.date.present? %>
				<div class="container2 clear advert-node">
				<div class="column span-2 label">
					Date
				</div>

				<div class="column span-6 last">
					<%= @video.date.strftime("%B %d, %Y")%>
				</div><!-- /.column .node-ad -->

			</div><!-- /.container -->
		<% end %>

			<% if @video.rating.present? %>
				<div class="container2 clear advert-node">
				<div class="column span-2 label">
					Rating
				</div>

				<div class="column span-6 last">
					<%= @video.rating%>
				</div><!-- /.column .node-ad -->

			</div><!-- /.container -->
		<% end %>

			<% if @video.view.present? %>
				<div class="container2 clear advert-node">
				<div class="column span-2 label">
					Views
				</div>

				<div class="column span-6 last">
					<%= @video.view%>
				</div><!-- /.column .node-ad -->

			</div><!-- /.container -->
		<% end %>

		 <% if @video.downloads.size %>
			<div class="container2 clear">
				<div class="column span-2 label">
					URL
				</div>

				<div class="column span-5 last">
					<% @video.downloads.each do |download| %>
						<a href="<%= download.url %>"><%= download.name %></a><br/>
					<% end %>
				</div>
			</div>
		<% end %>

		<% if @tags.present? %>
			<div class="container2 clear">

				<div class="column span-2 label">
					Tags
				</div>

				<div class="column span-6 last tags">
				<ul class="tags">
				<ul class="links inline">
					<% @video.tags.each do |tag| %>
						<li><a href="/tag/<% tag %>" rel="tag"><% tag %></a></li>
					<% end %>
		</ul>
				</ul>
				</div>

			</div><!-- /.container -->
		<% end %>

	</div>

	<div id="div_tab3" class="recomend tab" style="padding-left:40px">
		<div id="left_nav" class="left_nav"><div></div></div>
		<div id="div_tab3_content" class="div_tab3_content"></div>
		<div id="right_nav" class="right_nav"><div></div></div>
	</div>

	</div><!-- /.column -->


<!--
<div class="column span-8 last metadata">

</div>
-->
<!-- /.metadata -->
<script type="text/javascript">
	$(document).ready(function(){
		//Создание флеш плеера с видео
		xml_to_url('<%= @video.xml_url %>');
		//Отправка комментария
		$('#post').click(function(){
			var data = $("#postform").serialize();
			if ($.trim($('#name').val())!='' && $.trim($('#message').val())!='')
			{
				$(this).attr('disabled','disabled');
				$.post('/video/comment.json', data, function(result){
					if (result.result=='ok')
					{
						$('.comments_list').prepend(Common.getComment(result.data));
						$('#postform')[0].reset();
					}
					$('#post').removeAttr('disabled');
					$('a.dotted:first').click();
				}, 'json');
			}
		});
		Recomend.init('<%=@video.id%>', $(".div_tab3_content"), $(".left_nav"), $(".right_nav"));

		//Скрытие, отображение формы
		$('a.dotted').click(function(){
			$('#add_comment').toggleClass('invisible');
		});

		$('.tab2').click(function(){
			$(".tab").hide();
			$(".tabs a").removeClass('selected');
			$(this).addClass('selected');
			$("#div_tab2").show();
		});
		$('.tab1').click(function(){
			$(".tab").hide();
			$(".tabs a").removeClass('selected');
			$(this).addClass('selected');
			$("#div_tab1").show();
		});
		$('.tab3').click(function(){
			$(".tab").hide();
			$(".tabs a").removeClass('selected');
			$(this).addClass('selected');
			$("#div_tab3").show();
		});
	});
	function xml_to_url(url)
	{
		$.get(url.replace(/\?(.*)/,'').trim(),{'xml':'1'}, function(res){
			var base_url = encodeURIComponent($(res.responseText).text().replace("Untitled",'').replace(' flv ','').trim());
			show_player(base_url);
		});
	}
	function show_player(base_url)
	{
		player_obj = '<object type="application/x-shockwave-flash" data="/player/uppod.swf" width="600" height="400" style="margin-top:20px; margin-left: auto; margin-right: auto;">' +
			'<param name="bgcolor" value="#ffffff" />' +
			'<param name="allowFullScreen" value="true" />' +
			'<param name="allowScriptAccess" value="always" />' +
			'<param name="wmode" value="transparent" />' +
			'<param name="movie" value="'+base_url+'" />' +
			'<param name="flashvars" value="st=/player/video72-1132.txt&amp;file=' + base_url + '" />' +
		'</object>';
		$('#video_player').html(player_obj);

	}
	function uppodTheEnd()
	{
		alert('sdfd');
	}
</script>