<div class="column span-24 last">
	<!-- start main content -->
	<div class="view view-home view-id-home view-display-id-page_1 view-dom-id-1">


		<div class="view-content">
<% i=1
	 @list.each do |item| %>
			<div class="views-row <%= cycle("views-row-odd", "views-row-even") -%> <% if @list.first==item  %>views-row-first<% elsif(@list.last==item) %> views-row-last <% end %>">
				<div class="screens-thumbs-index thumb-<%= i %>">
					<div class="thumb">
						<a href="/video/<%= item._id.to_s %>"><img id='' class='bluga-thumbnail medium2' src='<%= item.images[0].to_s %>'/></a><br/>

						<div class="indexlink">
							<a href="/video/<%= item._id.to_s %>" rel="bookmark" title="<%= item.name.to_s %>"><%= item.name.length>24? item.name.to_s[0..24]+'...': item.name.to_s %></a>

							<div class="nodetype"><a><%= item.duration.to_s %></a></div>
						</div>
					</div>
					<!-- /.thumb -->

				</div>
			</div>
<% i+=1
	 end %>


			</div>
		</div>

		<div class="item-list">
			<ul class="pager">
				<li class="pager-current first">1</li>
				<li class="pager-item"><a href="/home?page=1" title="Go to page 2" class="active">2</a></li>
				<li class="pager-item"><a href="/home?page=2" title="Go to page 3" class="active">3</a></li>
				<li class="pager-item"><a href="/home?page=3" title="Go to page 4" class="active">4</a></li>
				<li class="pager-item"><a href="/home?page=4" title="Go to page 5" class="active">5</a></li>
				<li class="pager-item"><a href="/home?page=5" title="Go to page 6" class="active">6</a></li>

				<li class="pager-item"><a href="/home?page=6" title="Go to page 7" class="active">7</a></li>
				<li class="pager-item"><a href="/home?page=7" title="Go to page 8" class="active">8</a></li>
				<li class="pager-item"><a href="/home?page=8" title="Go to page 9" class="active">9</a></li>
				<li class="pager-ellipsis">…</li>
				<li class="pager-next"><a href="/home?page=1" title="Go to next page" class="active">next ›</a></li>
				<li class="pager-last last"><a href="/home?page=154" title="Go to last page" class="active">last »</a>
				</li>
			</ul>
		</div>


	</div>
	<!-- end main content -->

	<!--<div class="clear more-link"><a href="/home/gallery/latest">Explore the latest entries</a></div>-->


</div>
