<h2>здесь произойдет логин пользователя.</h2>
<p>id:  <%= @id %></p>
<p>uid: <%= @uid %></p>
<p>session: <%= session %></p>
<p>cookie: <%= cookies %></p>
<p>uid: <%= @uid %></p>
<p>uid: <%= @uid %></p>
<%= @kas %>
<p>users: <%= @users %></p>
<p>users: <%= @users[0].cookie_id %></p>