<p>user: <%= @user.firstname %> <%= @user.lastname %></p>
<p>id:	<%= @user._id %></p>
<p>cookie_id:	<%= @user.cookie_id %></p>
<p>url_cookie:
	<a href="<%= url_for :action => :long_url_login, :url=>@user.cookie_id, :only_path => false %>"><%= url_for :action => :long_url_login, :url=>@user.cookie_id, :only_path => false %></a>
</p>
<p>
	short_url:
	<a href="<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@user.short_url, :only_path => false, :use_route => :short %>">
		<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@user.short_url, :only_path => false, :use_route => :short %>
	</a>
</p>