<p>user: <%= @user.firstname %> <%= @user.lastname %></p>
<p>id:	<%= @user._id %></p>
<p>cookie_id:	<%= @user.cookie_id %></p>
<p>long url to enter:
	<a href="<%= url_for :action => :long_url_login, :url=>@user.cookie_id, :only_path => false %>"><%= url_for :action => :long_url_login, :url=>@user.cookie_id, :only_path => false %></a>
</p>
<p>
	short url to enter:
	<% if @user.short_url.present? %>
		<a href="<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@user.short_url, :only_path => false, :use_route => :short %>">
			<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@user.short_url, :only_path => false, :use_route => :short %>
		</a>
		<span> <%=link_to 'delete', :action => :delete_short_url %></span>
	<% else %>
		<%=link_to 'get short url', :action => :get_short_url %>
	<% end %>
</p>
<p>to json: <%= @user.to_json %></p>