<table>
	<thead>
	<tr>
		<th colspan="2">Ваш профиль</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Псевдоним:</td>
		<td id="user_nick"><%= @user.nick or 'guest' %></td>
	</tr>
	<tr>
		<td>ФИО:</td>
		<td><%= @user.firstname %> <%= @user.lastname %></td>
	</tr>
	<tr>
		<td>ваш ID:</td>
		<td><%= @user._id %></td>
	</tr>
	<tr>
		<td>Уникальная ссылка для входа на сайт под вашим аккаунтом:</td>
		<td>
			<a href="<%= url_for :action => :long_url_login, :url=>@user.cookie_id, :only_path => false %>"><%= url_for :action => :long_url_login, :url=>@user.cookie_id, :only_path => false %></a>
		</td>
	</tr>
	<tr>
		<td>Короткая ссылка для входа на сайт под вашим аккаунтом:</td>
		<td>
			<% if @user.short_url.present? %>
				<a href="<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@user.short_url, :only_path => false, :use_route => :short %>">
					<%= url_for :controller => :profile, :action=>:short_url_login, :short_url=>@user.short_url, :only_path => false, :use_route => :short %>
				</a>
				<span> <%= link_to 'Удалить', :action => :delete_short_url %></span>
			<% else %>
				У вас еще нет короткой ссылки. <%= link_to 'Получить короткую ссылку', :action => :get_short_url %>
			<% end %>
		</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th colspan="5">Ваши плейлисты</th>
	</tr>
	<tr>
		<th>Id</th>
		<th>Название</th>
		<th>Количество видео</th>
		<th colspan="2">Действия</th>
	</tr>
	</thead>
	<tbody>

	<% for playlist in @user.playlist do %>
		<tr>
			<td class="playlist_id"><%= playlist._id %></td>
			<td class="playlist_title"><%= playlist.title or 'default name' %></td>
			<td class="playlist_video_count"><%= playlist.video.count %></td>
			<td class="action delete"><%= link_to 'Удалить', :controller=>:playlist, :action=>:delete, :id=> playlist._id %></td>
			<td class="action view"><%= link_to 'Посмотреть', :controller=>:playlist, :action=>:view, :id=> playlist._id %></td>
		</tr>
	<% end %>

	</tbody>
</table>