<h2>здесь произойдет логин пользователя через длинную ссылку.</h2>
<p>id:  <%= session[:id] %></p>
<p>uid: <%= cookies[:uid] %></p>
<p>session: <%= session %></p>
<p>cookie: <%= cookies %></p>
<%= @kas %>
<p>users: <%= @user %></p>
<p>user.cookie_id: <%= @user.cookie_id %></p>