<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>XVidos | Porno | <%= session[:login] %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="KEYWORDS" content="xvidos,xvidos.org,vidos, x vidos,xvideos,xvideos.com,x videos,x video,porn,video,videos" />
	<meta name=description content="XVIDOS Free Porn Videos">
	<meta content=Index name=robots>
	<meta content=Follow name=robots>
	<meta content=ALL name=robots>
	<meta content=General name=rating>
	<meta content=document name=resource-type>
	<meta content=GLOBAL name=distribution>
	<meta content=no-cache http-equiv=Pragma>
	<meta content=no-cache http-equiv=Cache-Control>
	<%= stylesheet_link_tag 'core.css', 'css_4278727a67acd471320c5f6a4f8be004.css', 'reset.css', 'grid.css' %>
	<%= stylesheet_link_tag 'style.css', 'colorbox.css' %>
	<%= javascript_include_tag 'jquery-1.6.2.min.js', 'jquery.plugins.js', 'application.js', 'jquery.colorbox.js', 'pure_min', 'jquery.mousewheel.min', 'jquery.cookie.js' %>
	<script type="text/javascript">

	</script>
</head>
<body class="top konigi-5-0 home" id="home">
<div class="header">
	<div class="left margin_left">
		<a id="clicked" class="clicked" href="#clicked">clicked</a>
		<a id="seen" class="seen" href="#seen">seen</a>
		<a id="unclicked" class="clicked" href="#unclicked">not clicked</a>
		<a id="unseen" class="seen" href="#unseen">not seen</a>
		<a id="censored" class="seen" href="#unseen">censore</a>
	</div>
	<div class="right margin_right">
		<span>логин: <span id="nick_container_parent"><span class="nick"><%= @user.nick or 'guest' %></span></span></span>
		<span><%= session[:from] %></span>
		<a href="<%= url_for :controller=>:profile, :action=>:get_short_url %>">Получить короткую ссылку для входа на сайт</a>
		user_id: <a href="/profile/"><%= session[:id] %></a>
		<%= link_to 'Выход', :controller=>:index, :action=>:logout %>
	</div>
</div>

<div id="wrapper">

	<div id="header-wrapper">
		<div id="header" class="container">

			<div id="main-menu" class="container clear">

				<div id="logo" class="column"><h1><a href="/"><%= image_tag 'logo.png' %></a></h1></div>


				<!--<div id="nav" class="column last tright">


					<div id="gnav">
						<ul style="float: right;">

							<li id="gnav-home"><a href="/" title="Home">Home</a></li>
							<li id="gnav-notebook">
								<a href="<%= url_for :controller => :profile, :action => :index %>" title="Profile">Profile</a></li>
							<li id="gnav-tools">
								<a href="<%= url_for :controller => :playlist, :action => :index %>" title="Tools">Playlists</a></li>
							<li id="gnav-wiki"><a href="/wiki" title="Wiki">Wiki</a></li>
							<li id="gnav-store" class="last"><a href="/store" title="Store">Store</a></li>

							<li id="hdaccount"><a href="/user" id="umenu-tog">Account</a></li>
							<li id="hdsearch"><a href="/search/google">Search</a></li>
							<li id="hdcart"><a href="https://www.e-junkie.com/ecom/gb.php?c=cart;cl=48049;ejc=2">Cart</a></li>
						</ul>

					</div>
				</div>
				<div style="clear:both"></div>
				<div>-->
					<ul class="tags">
						<% @categories.each do |category| %>
							<li><a class="category" data-id="<%=Integer(category.id)%>" data-videos="<%=category.videos%>" title="<%=category.videos%>"><%= category.name %></a></li>
						<% end %>
					</ul>
				</div>

			<!--

											 <div id="nav-tools" class="column span-6 last">
													 <div id="site-search">
																	 </div>
											 </div>
											 -->

		</div>


	</div>
</div>

<!-- #main -->
<div id="body-wrapper">
	<div id="body" class="container">
		<% if @title.present? %>
			<div id="title" class="container">
				<h1 class="page-title"><%= @title %></h1>
			</div>
		<% end %>
		<div id="content">
			<div id="content-main" class="container">

				<%= yield -%>

			</div>

		</div>

	</div>
</div>


<!-- #footer -->
<div id="footer-wrapper" class="clear">
	<div id="footer" class="container clear">
		<div class="column span-12">
			<span id="ftcopyright">&copy; 2011 <a href="/">XVidos</a></span>
			<a href="#" onclick="$('#wrapper').addClass('unicorns');$('body').addClass('unibg');">&middot;</a>

			<a href="/page/about-site">About</a>
			&middot;
			<a href="/page/advertising">Advertising</a>
			&middot;
			<a href="/sitemap">Tags</a>

		</div>
		<div class="column span-12 last txt-right">
			<span id="ftrss"><a href="<%= url_for :controller => :rss, :action => :index %>">RSS</a></span>
		</div>
	</div>
</div>


</div>
<!-- /#wrapper -->

<div id="footer-links-wrapper" class="clear">

</div>

<div id="stub"></div>
<!-- здесь были плейлисты todo откатить плейлисты-->
</body>
<script type="text/javascript">
	// todo откатить плейлисты
	// здесь были плейлисты
</script>
<script type="text/javascript">
	
</script>
</html>
